/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, material-app, mat-sidenav-container, .my-content {

    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  }

  body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  } 

  .mat-elevation-z5 {
    position: relative;
    z-index: 2;
 }

 #footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

h1, h2 {
    font-weight: 400;
}

.page-title{
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
}
